<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Of Colors</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href={{url_for('colors_func', color='blue')}}> blue </a>
            </li>
            <li>
                <a href={{url_for('colors_func', color='red')}}>red</a>
            </li>
            <li>
                <a href={{url_for('colors_func', color='green')}}>green</a>
            </li>
            <li>
                <a href={{url_for('colors_func', color='yellow')}}>yellow</a>
            </li>
        </ul>
    </nav>
</body>
</html>